

// main

// about me

.profilePic {
	position: relative;

	img {
		width: 25rem;
		height: 25rem;
		object-fit: cover;
	}
}

.profilePic::after {
	content: "";
	@include imageBorder("../assets/picborder.jpg");
	width: 23rem;
	height: 23rem;
	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: -1;
}

.about .profile {
	margin-top: 5rem;
	text-align: left;
}

