// main

// about me

.profile {
	@include forSize(smallDesktop) {
		@include flex (row, space-between);
	}
}

.profilePic {

	@include forSize(smallDesktop) {
		width: 40%;
		align-self: center;
	}

	img {
		width: calc(35rem + (400 - 350) * ((100vw - 320px) / (1600 - 320)));
		object-fit: cover;
		margin: 0 auto;
		@include imageBorder("../assets/picborder.jpg");
	}
}

.about .profileDesc {
	margin-top: 3rem;
	text-align: left;

	@include forSize(smallDesktop) {
		width: calc(60% - 4rem);
		margin-top: 0;
		margin-left: 4rem;
	}
}