// contact me!

.emailMe {
    @include forSize(portraitTablet) {
        text-align: center;
    }
}

// .formAndSocialMedia {
//     @include forSize(smallDesktop) {
//         @include flex (row, space-between);
//         margin-bottom: 5rem;
//     }
// }

form {
    margin: 0 auto;
    margin-top: 3rem;
}

.field {
    position: relative;
}

label {
    position: absolute;
    top: -1.2rem;
    background: $background;
    margin-left: 1rem;
    padding: 0 0.5rem;
}

input,
textarea {
    border: 1px solid $textColour;
    background: $background;
    width: 100%;
    padding: 1.5rem 0.75rem 1rem 0.75rem;
    color: $textColour;

    @include forSize(smallDesktop) {
        padding: 2rem 0.75rem 1rem 0.75rem;
    }

    &::placeholder {
        color: $textColour;
        font-size: calc(1.6rem + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
    }

    &:focus {
        border: 1px dashed $textColour;
    }
}

.textInputs {
    @include forSize(smallDesktop) {
        @include flex(row, space-between);
    }
}

.textInput {
    @include forSize(smallDesktop) {
        width: calc(50% - 1rem);
    }
}

input {
    margin-bottom: 3rem;
}

textarea {
    resize: none;
    height: 20rem;
}

.submitButton {
    margin-top: 2rem;
    text-align: center;
    button {
        border: none;
        font-weight: 700;
    }
}

.socialMedia {
    margin: 4rem 0;

    @include forSize(smallDesktop) {
        width: 60%;
        margin: 0 auto;
        margin-top: 6rem;
    }

    .socialIcons {
        @include removeListStyles;
        @include flex (row, space-around);
        font-size: calc(2rem + (28 - 20) * ((100vw - 320px) / (1600 - 320)));

        // @include forSize(smallDesktop) {
        // @include flex(column, space-between);
        // }

        .socialHandle {
            display: none;
            margin-left: 1rem;

            @include forSize(smallDesktop) {
                display: inline-block;
                font-weight: 400;
            }
        }
    }
}
