html {
	font-size: 62.5%;
}

body {
	background: $background;
	font-family: $baseFont;
	color: $textColour;
}

.wrapper {
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;

	@include forSize(smallDesktop) {
		width: 80%;
	}
}

h1,
h2,
h3,
h4 {
	font-family: $headingFont;
	letter-spacing: 0.2rem;
	text-align: center;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

section {
	margin-top: 5rem;

	@include forSize(portraitTablet) {
		margin-top: 10rem;
	}
}

// section headings
h3 {
	font-size: calc(3.6rem + (60 - 36) * ((100vw - 320px) / (1600 - 320)));
	color: $secondaryColour;
	padding-top: 5rem;
}

// section text
p,
form {
	font-size: calc(1.6rem + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
	line-height: 1.5;
	margin-bottom: 0;
}

// project titles
h4 {
	font-size: calc(2.4rem + (36 - 24) * ((100vw - 320px) / (1600 - 320)));
	margin-bottom: 2rem;
	line-height: 1.2;
}

// links
a,
button {
	text-decoration: none;
	transition: 0.3s all linear;
	letter-spacing: 0.12rem;
}

a {
	color: $textColour;
	font-weight: 700;
	&:hover,
	&:focus {
		color: $secondaryColour;
	}
}

img {
	display: block;
}

// scroll to top
.backToTop {
	position: fixed;
	bottom: 1rem;
	right: 1.3rem;
	color: $secondaryColour;
	padding: 1% 1.5%;
	display: none;
	font-size: 3rem;

	@include forSize(smallDesktop) {
		font-size: 4rem;
	}
	
	&:hover {
		color: $textColour;
		text-decoration: none;
	}
}
