// header

header {
	text-align: center;
	color: $textColour;
	height: 100vh;
}

.headerTextArrowDown {
	text-transform: lowercase;
	@include flex(column, center);
}

.headerText {
	justify-content: center;
	align-content: center;
	margin-top: 8rem;

	h1 {
		font-size: calc(5.2rem + (64 - 52) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: 0;
	}

	h2 {
		font-size: calc(3.2rem + (48 - 32) * ((100vw - 320px) / (1600 - 320)));
		margin-top: 1rem;
	}
}

.headerText::after {
	content: "";
	@include imageBorder("../assets/yellowdoor.jpg");
	position: absolute;
	width: 200px;
	height: 200px;
	top: 187px;
	left: 49px;
	z-index: -10;

	@include forSize(smallDesktop) {
		top: 195px;
		left: 200px;
	}

	@include forSize(desktopBigger) {
		top: 200px;
		left: 350px;
	}
}

// nav

header nav ul {
	@include removeListStyles;
	@include flex(row, space-between);
	margin-top: 2rem;

	li {
		width: 25%;
		text-align: center;
		text-transform: uppercase;
		font-size: calc(1.2rem + (20 - 12) * ((100vw - 320px) / (1600 - 320)));

		@include forSize(portraitTablet) {
			width: 20%;
		}
	}

	li:first-child {
		display: none;

		@include forSize(portraitTablet) {
			display: inline-block;
		}
	}
}

// arrow down
.arrowDown {
	margin-top: 8rem;
	font-size: calc(3rem + (40 - 30) * ((100vw - 320px) / (1600 - 320)));

	@include forSize(portraitTablet) {
		margin-top: 12rem;
	}

	@include forSize(smallDesktop) {
		margin-top: 20rem;
	}

	a {
		color: $secondaryColour;
		&:hover {
			color: $textColour;
		}
	}
}

// arrow animation
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
