// header

header {
	text-align: center;
	color: $textColour;
	height: 100vh;
}

// hamburger stylez
.hamburger,
.exitMenu {
	display: block;

	@include forSize(smallDesktop) {
		display: none;
	}
}

.hamburger {
	text-align: left;
	font-size: 3rem;
	margin: 0;
	color: $secondaryColour;
	transition: 0.3s all linear;
	position: fixed;
	top: 3rem;
	left: 2.75rem;
	z-index: 10;

	.fa-bars {
		position: absolute;
		top: -10px;
	}

	&:hover {
		color: $textColour;
	}
}

.exitMenu {
	text-align: left;
	margin-left: 2rem;
	font-size: 3rem;
	color: $secondaryColour;
	transition: 0.3s all linear;
	&:hover {
		color: $textColour;
	}
}

.show.menu {
	display: block;
	z-index: 20;
}

// nav

header nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $background;

	@include forSize(smallDesktop) {
		display: block;
		position: static;
	}

	ul {
		@include flex(column, space-between);
		padding-left: 0;

		@include forSize(smallDesktop) {
			@include removeListStyles;
			@include flex(row, space-between);
			margin-top: 2rem;
		}

		li {
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			@include removeListStyles;

			@include forSize(smallDesktop) {
				width: 20%;
				text-align: center;
				font-size: calc(
					1.2rem + (20 - 12) * ((100vw - 320px) / (1600 - 320))
				);
			}
		}
	}
}

.headerTextArrowDown {
	margin-top: 10.5rem;
	text-transform: lowercase;
	@include flex(column, center);
}

.headerText {
	justify-content: center;
	align-content: center;

	h1 {
		font-size: calc(5.2rem + (80 - 52) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: 0;
	}

	h2 {
		font-size: calc(3.2rem + (48 - 32) * ((100vw - 320px) / (1600 - 320)));
		margin-top: 1rem;
	}
}

.headerText::after {
	content: "";
	@include imageBorder("../assets/yellowdoor.jpg");
	position: absolute;
	width: 200px;
	height: 200px;
	top: 141px;
	left: 52px;
	z-index: -10;

	@include forSize(smallDesktop) {
		top: 195px;
		left: 200px;
	}

	@include forSize(desktopBigger) {
		top: 200px;
		left: 350px;
	}
}

// arrow down
.arrowDown {
	margin-top: calc(9rem + (200 - 90) * ((100vw - 320px) / (1600 - 320)));
	font-size: calc(3rem + (40 - 30) * ((100vw - 320px) / (1600 - 320)));

	a {
		color: $secondaryColour;
		&:hover {
			color: $textColour;
		}
	}
}

// arrow animation
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
