// skills

.skillsIcons {
	@include removeListStyles;
	@include flex(row, space-between);

	li {
		width: 50%;
        margin-top: 2rem;
		text-align: center;
		
		@include forSize(portraitTablet) {
			width: calc(100% / 3);
			margin-top: 4rem;
		}

		@include forSize(smallDesktop) {
			width: calc(100% / 4);
		}

		.skillIcon {
			display: inline-block;
			font-size: calc(4rem + (50 - 40) * ((100vw - 320px) / (1600 - 320)));
		}

		p {
			margin-top: 1.5rem;
		}
	}
}

.firebaseIcon {
	width: calc(2.8rem + (36 - 28) * ((100vw - 320px) / (1600 - 320)));
	margin: 0 auto;
}

.responsiveIcon {
	width: calc(5rem + (62.5 - 50) * ((100vw - 320px) / (1600 - 320)));
	margin: 0 auto;
}

.skillsIcons li:last-child {
	p {
		margin-top: 0.5rem;
	}
}