// fonts
$headingFont: "Playfair Display", serif;
$baseFont: "Raleway", sans-serif;

// colours
$textColour: #1c454a;
$background: #f9f7f0;
$accentColour: #f7ae2e;
$secondaryBackground: #f9b09d;
$secondaryColour: #e3492b;

// media queries
@mixin forSize($size) {
	@if $size == mobileTablet {
		@media (min-width: 480px) {
			@content;
		}
	} @else if $size == portraitTablet {
		@media (min-width: 700px) {
			@content;
		}
	} @else if $size == smallDesktop {
		@media (min-width: 900px) {
			@content;
		}
	} @else if $size == desktopBigger {
		@media (min-width: 1200px) {
			@content;
		}
	}
}

// ul mixin
@mixin removeListStyles {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

// flexbox mixin
@mixin flex($flexDirection, $justify) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: $flexDirection;
	justify-content: $justify;
}

// image border
@mixin imageBorder($imageLink) {
	border: 10px solid transparent;
	border-image: url($imageLink);
    border-image-slice: 20;
}
